body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
    font-family: 'Rowdies', cursive;
}
#form{
    width: 30%;
    margin:  5% auto;
}
#list{
    margin:  5% auto;
}
.nav-link,.navbar-brand{
    color:#fff !important;
}
.active{
    font-weight:bold;
    text-emphasis: emphasis after;
    color:aqua !important;
}